

section article img{
    width: 150px;
    display: block;
    margin: 0 auto;

}
.tools img{
    width: 60px;
}

.avatares{
    display: flex;
    justify-content: space-evenly;
}

.avatares p{
   text-align: center;
}
article{
    background-color: #93e3fc;
    width: 250px;
    height: 250px;
   
   border-radius: 50%;
}
.tools{
   display: flex;
   justify-content: center;
}
.tools img {
  display:block;
  border: 2px solid red;
}